:root {
  --pink: #fbe6f4ff;
  --yellow: #fffad1ff;
  --green: #e1f0e5ff;
  --blue: #b5caf9ff;
  --orange: #f5e6db;
  --raisin: #2b283aff;
  --grey: #d4d4d4;
}

body {
  background-color: var(--raisin);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  font-size: 2em;
}

p {
  margin: 0 0 1em;
}

.countdown-display {
  text-transform: uppercase;
  font-size: 3rem;
  font-family: "Roboto Mono", monospace;
}
#rocket {
  position: absolute;
  bottom: 50px;
  font-size: 200%;
  transform: translateX(-50%);
  transform: rotate(315deg);
}
.rocket-animate::after {
  content: "";
  position: absolute;
  bottom: -185px;
  left: -68%;
  transform: translateX(-50%) rotate(47deg);
  width: 15px;
  height: 250px;
  background: linear-gradient(#ec9f05, transparent);
}
.rocket-animate {
  animation: fly 5s ease-in;
  animation-fill-mode: forwards;
}
@keyframes fly {
  0% {
    transform: rotate(315deg);
  }
  25% {
    transform: rotate(315deg);
    /* transform: translate(-50%, 0); */
  }
  75% {
    transform: rotate(315deg);
  }
  100% {
    transform: translate(0vh, -90vh) rotate(-50deg);
  }
}
